body {
	margin: 0 auto;
	width: 90%;
    background-image: url("shuttlecock-3-1486875.jpg");
    background-size: cover;
    background-position: center top;
}

h1 {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 48px;
}

li {
    display: inline;
    padding: 0.5em;
    font-size: 24px;
    color:  white;
}

a:hover {
	color: green;
	font-weight: bold;
}